@font-face {
    font-family: "Netflix Sans";
    font-weight: 100;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2)
            format("woff2"),
        url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff)
            format("woff");
}

@font-face {
    font-family: "Netflix Sans";
    font-weight: 300;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2)
            format("woff2"),
        url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff)
            format("woff");
}

@font-face {
    font-family: "Netflix Sans";
    font-weight: 400;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2)
            format("woff2"),
        url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff)
            format("woff");
}

@font-face {
    font-family: "Netflix Sans";
    font-weight: 700;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2)
            format("woff2"),
        url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff)
            format("woff");
}

@font-face {
    font-family: "Netflix Sans";
    font-weight: 800;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2)
            format("woff2"),
        url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff)
            format("woff");
}

@font-face {
    font-family: "Netflix Sans";
    font-weight: 900;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2)
            format("woff2"),
        url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff)
            format("woff");
}

html,
body {
    margin: 0;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    background-color: black;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

header {
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.05)
        ),
        url("../img/header-background.jpg");
    background-size: cover;
    height: 100vh;
}

nav img {
    width: 167px;
    height: 45px;
    vertical-align: middle;
}

nav a.logo {
    display: inline-block;
    line-height: 90px;
    margin-left: 3%;
}

header nav {
    height: 90px;
}

nav .signin {
    color: #fff;
    float: right;
    background-color: #e50914;
    line-height: normal;
    margin-top: 18px;
    margin-right: 3%;
    padding: 7px 17px;
    font-weight: 400;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none;
}

.pitch {
    margin: 0 3%;
    position: absolute;
    top: 35%;
    font-size: 1.8vw;
}

.pitch__title {
    font-size: 3em;
    margin: 0 0 0.2em;
    font-weight: 700;
}

.pitch__subtitle {
    margin: 0 0 0.5em;
    text-transform: uppercase;
}
